@model WebBanHangOnline.ModelView.MuaHangVM
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    List<WebBanHangOnline.ModelView.CartItem> Carts = ViewBag.GioHang;

}

<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="assets/images/breadcrumb/bg/1-1-1920x373.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">THÔNG TIN MUA HÀNG</h2>
                        <ul>
                            <li>
                                <a href="/">Trang chủ <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>THÔNG TIN MUA HÀNG</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="checkout-area section-space-y-axis-100">
        <div class="container">
            <form asp-controller="Checkout" asp-action="Index" method="post">
                <input hidden asp-for="CustomerId" />
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="checkbox-form">
                            <h3>Billing Details</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Họ và Tên <span class="required">*</span></label>
                                        <input placeholder="Họ tên" asp-for="FullName" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Số điện thoại <span class="required">*</span></label>
                                        <input placeholder="Phone" asp-for="Phone" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Địa chỉ nhận hàng</label>
                                        <input placeholder="Địa chỉ nhận hàng" asp-for="Address" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Ghi chú</label>
                                        <input placeholder="Ghi chú" asp-for="Note" type="text">
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="country-select">
                                        <label>Tỉnh/Thành <span class="required">*</span></label>
                                        <select asp-for="TinhThanh" class="myniceselect nice-select wide" asp-items="ViewBag.lsTinhThanh">
                                            <option value="0" disabled selected>Tỉnh/Thành</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="country-select">
                                        <label>Quận/Huyện <span class="required">*</span></label>
                                        <select asp-for="QuanHuyen" class="myniceselect nice-select wide">
                                            <option value="0" disabled selected>Quận/Huyện</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="country-select">
                                        <label>Phường/Xã <span class="required">*</span></label>
                                        <select asp-for="PhuongXa" class="myniceselect nice-select wide">
                                            <option value="0" disabled selected>Phường/Xã</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list create-acc">
                                        <input id="cbox" type="checkbox">
                                        <label for="cbox">Create an account?</label>
                                    </div>
                                    <div id="cbox-info" class="checkout-form-list create-account">
                                        <p>
                                            Create an account by entering the information below. If you are a returning
                                            customer please login at the top of the page.
                                        </p>
                                        <label>Account password <span class="required">*</span></label>
                                        <input placeholder="password" type="password">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="your-order">
                            <h3>THÔNG TIN ĐƠN HÀNG</h3>
                            <div class="your-order-table table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="cart-product-name">Sản phẩm</th>
                                            <th class="cart-product-total">Giá sản phẩm</th>
                                            <th class="cart-product-total">Giảm giá</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Carts.Count() > 0)
                                        {
                                            @foreach (var item in Carts)
                                            {

                                        <tr class="cart_item">
                                            <td class="cart-product-name">
                                                @item.product.ProductsName<strong class="product-quantity">
                                                    × @item.amount
                                                </strong>
                                            </td>
                                            <td class="cart-product-total"><span class="amount">@item.product.Price.Value.ToString("#,##0") VNĐ</span></td>
                                            <td><span class="amount">@item.product.Discount.Value.ToString("#,##0") VNĐ</span></td>
                                        </tr>
                                           
                                           
                                            

                                        }}
                                        </tbody>

                                    <tfoot>
                                        <tr class="order-total">
                                            <th>Tổng thành tiền</th>
                                            <td><strong><span class="amount">@Carts.Sum(x => x.TotalMoney()).ToString("#,##0") VNĐ</span></strong></td>
                                        </tr>

                                    </tfoot>
                                    </table>
                            </div>
                            <div class="payment-method">
                                @*<div class="form-group col-6">
                                        <label class="font-weight-semibold" for="productCategory">Hình thức thanh toán</label>

                                        <select class="custom-select" asp-for="PaymentId" style="min-width: 200px;" asp-items="ViewBag.PaymentID">
                                            <option value="0" disabled selected>Chọn danh mục</option>
                                        </select>

                                    </div>*@
                                <div class="payment-accordion">
                                    <div id="accordion">
                                        <div class="card">
                                            <div class="card-header" id="#payment-1">
                                                <h5 class="panel-title">
                                                    <a href="javascript:void(0)" class="" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">
                                                        Thanh toán MOMO
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    <p>
                                                        Chuyển tiền qua số MOMO:0787675320 <br />
                                                        Nội dung: Tên sản phẩm ,Tên khách hàng
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="#payment-2">
                                                <h5 class="panel-title">
                                                    <a href="javascript:void(0)" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false">
                                                        Chuyển khoảng ngân hàng <br />
                                                      
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    <p>
                                                        Chuyển tiền qua số tk ngâng hàng :334564XXXXX <br />
                                                        Nội dung: Tên sản phẩm, tên khách hàng <br />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="#payment-3">
                                                <h5 class="panel-title">
                                                    <a href="javascript:void(0)" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                                                        Thanh toán trực tiếp
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    <p>
                                                       Nội dung: Thanh toán đúng số tiền
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-button-payment">
                                        <input value="XÁC NHẬN ĐẶT HÀNG" type="submit">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('select').niceSelect();
            $(function () {
                $("#TinhThanh").change(function () {
                    var locationid = $('#TinhThanh').val();
                    $.ajax({
                        url: '/Locations/QuanHuyenList',
                        type: "GET",
                        dataType: "JSON",
                        data: { LocationId: locationid },
                        success: function (QuanHuyens) {
                            $("#QuanHuyen").empty();
                            $("#PhuongXa").empty();
                            var strPhuongXa = '<option value="" disabled selected>Phường/Xã</option>';
                            $("#PhuongXa").append(strPhuongXa);
                            var strQuanHuyen = '<option value="" disabled selected>Quận/Huyện</option>';
                            $("#QuanHuyen").append(strQuanHuyen);
                            $.each(QuanHuyens, function (i, item) {

                                var option = '<option value="' + item.LocationId + '">' + item.namewithtype + '</option';
                                $("$QuanHuyen").append(option);
                            });
                            $('select').niceSelect('update');
                        }
                    });
                });

                $("#QuanHuyen").change(function () {
                    var locationid = $('#QuanHuyen').val();
                    $.ajax({
                        url: '/Locations/PhuongXaList',
                        type: "GET",
                        dataType: "JSON",
                        data: { LocationId: locationid },
                        success: function (PhuongXaList) {
                            $("#PhuongXa").empty();
                            var readonly = '<option value="" disabled selected>Phường/Xã</option>'
                            $("#PhuongXa").append(readonly);

                            $.each(QuanHuyens, function (i, item) {

                                var option = '<option value="' + item.LocationId + '">' + item.namewithtype + '</option';
                                $("$PhuongXa").append(option);
                            });
                            $('select').niceSelect('update');
                        }
                    });
                });

            });

        });
    </script>

}

