@model List<WebBanHangOnline.ModelView.CartItem>
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="/images/products/abc.jpg">
        <div class="container h-100">
            <div class="row h-100">
             
             
            </div>
        </div>
    </div>
    <div class="cart-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    @if (Model != null && Model.Count() > 0)
                    {
                        <form action="javascript:void(0)">
                            <div class="table-content table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="product_remove">remove</th>
                                            <th class="product-thumbnail">Ảnh</th>
                                            <th class="cart-product-name">Sản phẩm</th>
                                            <th class="product-price">Đơn giá</th>
                                            <th class="product-price">Discount</th>
                                            <th class="product-quantity">Số lượng</th>
                                            <th class="product-subtotal">Tổng tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Count() > 0)
                                        {
                                            foreach (var item in Model)
                                            {
                                        <tr>
                                            <td class="product_remove">
                                                <input type="button" value="X" class="removecart btn btn-primary" data-mahh="@item.product.ProductsId" />
                                            </td>
                                            <td class="product-thumbnail">
                                                <a href="javascript:void(0)">
                                                    <img style="width:100px;height:100px" class="img-full" src="~/images/products/@item.product.Thumb" alt="@item.product.ProductsName">
                                                </a>
                                            </td>
                                            <td class="product-name"><a href="javascript:void(0)">@item.product.ProductsName</a></td>
                                            <td class="product-price"><span class="amount">@item.product.Price.Value.ToString("#,##0") VND</span></td>
                                            <td class="product-price"><span class="amount">@item.product.Discount.Value.ToString("#,##0") VND</span></td>
                                            <td class="quantity">
                                                <div class="cart-plus-minus">
                                                    <input data-mahh="@item.product.ProductsId" data-dongia="@item.product.Price" class="cartItem cart-plus-minus-box" value="@item.amount" type="number" min="1">
                                                </div>
                                            </td>
                                            <td class="product-subtotal"><span class="amount">@item.TotalMoney().ToString("#,##0") VND</span></td>
                                        </tr>
                                            }
                                        }


                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="coupon-all">
                                        <div class="coupon">
                                            <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                            <input class="button mt-xxs-30" name="apply_coupon" value="Apply coupon" type="submit">
                                        </div>
                                        <div class="coupon2">
                                            <input class="button" name="update_cart" value="Update cart" type="submit">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 ml-auto">
                                    <div class="cart-page-total">
                                        <h2>Tổng đơn hàng</h2>
                                        <ul>
                                            <li>Tổng đơn hàng: <span>@Model.Sum(x => x.TotalMoney()).ToString("#,##0") VND</span></li>

                                        </ul>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a href="/checkout.html" class="btn btn-secondary btn-primary-hover">Thanh Toán</a>
                                        }
                                        else
                                        {

                                            <a href="/dang-nhap.html?returnUrl=/checkout.html" class="btn btn-secondary btn-primary-hover">Thanh Toán</a>
                                        }


                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <p>Chưa có hàng hóa trong giỏ hàng</p>
                    }

                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts{
    <script>
        $(function () {
            function loadHeaderCart() {
                $("#miniCart").load("/AjaxContent/HeaderCart");
                $("#numberCart").load("/AjaxContent/NumberCart");

            }
            $(".removecart").click(function () {
                var productid = $(this).attr("data-mahh");
                $.ajax({
                    url: '/api/cart/remove',
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        productId: productid
                    },

                    success: function (result) {
                        if (result.success) {
                            loadHeaderCart();
                            window.location = 'cart.html';
                        }
                    },
                    error: function (rs) {
                        alert("Cập nhật Cart Error!");
                    }
                });
            });
            $(".cartItem").click(function () {
                    var productid = $(this).attr("data-mahh");
                    var soluong = parseInt($(this).val());
                    $.ajax({
                        url: "/api/cart/update",
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            productId: productid,
                            amount: soluong
                        },
                        success: function (result) {
                            if (result.success) {
                                loadHeaderCart();
                                window.location = 'cart.html';
                            }
                        },
                        error: function (rs) {
                            alert("Cập nhật Cart Error!");
                        }
                    });
                });

            });
    </script>
}