@model IEnumerable<WebBanHangOnline.Models.Account>

@{
    ViewData["Title"] = "Danh sách tài khoảng quản trị";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<div class="page-header">

    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            @*<a class="breadcrumb-item" asp-area="Admin" asp-controller="Accounts" asp-action="Index">Danh sách tài khoản</a>*@

            <span class="breadcrumb-item active">Danh sách tài khoản</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-12">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" id="idRole" name="idRole" style="min-width: 200px;" asp-items="ViewBag.RoleId">
                            <option value="0" disabled selected>Chọn quyền truy cập</option>

                        </select>

                    </div>
                    <div class="m-b-10">
                        <select class="custom-select" id="idStatus" name="idStatus" style="min-width: 200px;" asp-items="ViewBag.lstrangthai">
                            <option value="" disabled selected>Chọn trạng thái</option>

                        </select>
                    </div>
                </div>
            </div>

        </div>
        <a asp-action="Create" class="dropdown-item d-block p-h-15 p-v-10">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <i class="anticon anticon-plus-circle"></i>
                    <span class="m-l-10 text-danger">Create</span>
                </div>

            </div>
        </a>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>

                        <th>ID</th>
                        <th>FullName</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Trạng thái</th>
                        <th>Quyền truy cập</th>
                        <th>lần cuối đăng nhập</th>
                        <th>Ngày tạo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @item.AccountId
                                </td>

                                <td>@item.FullName</td>
                                <td>@item.Phone</td>
                                <td>@item.Email</td>
                                <td>@item.Role.Description</td>

                                <td>
                                    @if (item.Active == true)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Active</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Block</div>
                                        </div>

                                    }
                                </td>
                                <td>@item.RoleId</td>
                                <td>@item.LastLogin</td>
                                <td>@item.CreateDate</td>

                                <td>
                                    <a class="btn btn-success m-r-5" asp-controller="Accounts" asp-action="Edit" asp-route-id="@item.AccountId">Chỉnh Sửa</a>
                                    <a class="btn btn-primary m-r-5" asp-controller="Accounts" asp-action="Details" asp-route-id="@item.AccountId">Chi Tiêt</a>
                                    <a class="btn btn-secondary m-r-5" asp-controller="Accounts" asp-action="Delete" asp-route-id="@item.AccountId">Xóa</a>

                                </td>
                            </tr>
                        }

                    }


                </tbody>
            </table>
        </div>
    </div>
</div>