@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<WebBanHangOnline.Models.Order>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Danh sách danh mục"] = "Danh sách đơn hàng" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}


<div class="page-header">

    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>

            <span class="breadcrumb-item active">Danh sách danh mục:page @CurrentPage</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-12">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" id="txtTransactStatusID" name="txtTransactStatusID" style="min-width: 200px;" asp-items="ViewBag.TransactStatusID">

                            <option selected>Chọn trạng thái đơn hàng</option>
                            <option value="all">All</option>
                        </select>

                    </div>

                </div>
            </div>

        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Mã đơn hàng</th>
                        <th scope="col">Khách hàng</th>
                        <th scope="col">Ngày mua </th>
                        <th scope="col">Ngày ship</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Hủy đơn </th>
                        <th scope="col">Thanh toán</th>
                        <th scope="col">Ngày thanh toán</th>
                        <th scope="col">Kiểu thanh toán</th>
                        <th scope="col">Ghi chú</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Địa chỉ giao hàng</th>


                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrdersId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customers.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TransactStatus.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Deleted)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Paid)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Payment.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Note)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalMoney)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>

                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.OrdersId" class="dropdown-item d-block p-h-15 p-v-10">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <i class="anticon anticon-edit"></i>
                                                <span class="m-l-10 text-success    ">Chỉnh sửa trạng thái</span>
                                            </div>

                                        </div>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.OrdersId" class="dropdown-item d-block p-h-15 p-v-10">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <i class="anticon anticon-delete"></i>
                                                <span class="m-l-10 text-primary">Xóa Đơn Hàng</span>
                                            </div>

                                        </div>
                                    </a>
                                    <a asp-action="Details" asp-route-id="@item.OrdersId" class="dropdown-item d-block p-h-15 p-v-10">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <i class="anticon anticon-form"></i>
                                                <span class="m-l-10 text-danger">Xem đơn hàng</span>
                                            </div>

                                        </div>
                                    </a>

                                </td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">

                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-route-CatID="@ViewBag.CurrentTransactStatusID" asp-controller="Orders" asp-action="Index"></pager>
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            jQuery("#txtTransactStatusID").change(function () {
                var TransactStatusID = jQuery(this).children(":selected").attr("value");
                TransactStatusID = parseFloat(TransactStatusID);
                $('#txtTransactStatusID option').removeAttr('selected');
                $("#txtTransactStatusID > [value=" + TransactStatusID + "]").attr("selected", "true");
                $.ajax({
                    url: '/Admin/Orders/Filtter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        TransactStatusID: TransactStatusID

                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "succsess") {

                            window.location.href = results.redirectUrl;
                        }

                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });

            });
    </script>
}